--
-- PostgreSQL database dump
--

\restrict glf9u11728TG4Ajp2E3g5wwx2as8DAUTHaL1AqMCM3ZntnkI3FfNpSTqcGJzZio

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: apartment_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.apartment_status AS ENUM (
    'available',
    'occupied',
    'maintenance'
);


ALTER TYPE public.apartment_status OWNER TO postgres;

--
-- Name: incident_priority; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.incident_priority AS ENUM (
    'low',
    'normal',
    'high',
    'urgent'
);


ALTER TYPE public.incident_priority OWNER TO postgres;

--
-- Name: incident_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.incident_status AS ENUM (
    'pending',
    'in_progress',
    'resolved'
);


ALTER TYPE public.incident_status OWNER TO postgres;

--
-- Name: notification_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notification_type AS ENUM (
    'payment',
    'incident',
    'reservation',
    'announcement',
    'general'
);


ALTER TYPE public.notification_type OWNER TO postgres;

--
-- Name: payment_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.payment_status AS ENUM (
    'pending',
    'validated',
    'overdue'
);


ALTER TYPE public.payment_status OWNER TO postgres;

--
-- Name: reservation_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.reservation_status AS ENUM (
    'pending',
    'confirmed',
    'cancelled'
);


ALTER TYPE public.reservation_status OWNER TO postgres;

--
-- Name: time_slot; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.time_slot AS ENUM (
    '09:00',
    '14:00',
    '17:00'
);


ALTER TYPE public.time_slot OWNER TO postgres;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role AS ENUM (
    'admin',
    'syndic',
    'owner'
);


ALTER TYPE public.user_role OWNER TO postgres;

--
-- Name: fn_check_rdv_limit(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_check_rdv_limit() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_count INTEGER;
BEGIN
    IF NEW.status = 'cancelled' THEN
        RETURN NEW;  -- annulation toujours autorisÔÇÜe
    END IF;

    SELECT COUNT(*) INTO v_count
    FROM   reservations
    WHERE  syndic_id        = NEW.syndic_id
      AND  appointment_date = NEW.appointment_date
      AND  status           <> 'cancelled'
      AND  id               IS DISTINCT FROM NEW.id;

    IF v_count >= 3 THEN
        RAISE EXCEPTION
            'JournÔÇÜe compl┼áte : 3 rendez-vous dÔÇÜjÔÇª pris le % pour ce syndic.',
            NEW.appointment_date;
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_check_rdv_limit() OWNER TO postgres;

--
-- Name: fn_log_incident_change(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_log_incident_change() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF OLD.status IS DISTINCT FROM NEW.status THEN
        INSERT INTO incident_history (incident_id, changed_by, old_status, new_status)
        VALUES (NEW.id, COALESCE(NEW.assigned_to, NEW.declared_by), 
        OLD.status, NEW.status);
        IF NEW.status = 'resolved' THEN
            NEW.resolved_at = NOW();
        END IF;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_log_incident_change() OWNER TO postgres;

--
-- Name: fn_set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_set_updated_at() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: announcements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.announcements (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    syndic_id uuid NOT NULL,
    residence_id uuid NOT NULL,
    title character varying(255) NOT NULL,
    content text NOT NULL,
    is_pinned boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.announcements OWNER TO postgres;

--
-- Name: apartment_equipments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.apartment_equipments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    apartment_id uuid NOT NULL,
    equipment character varying(100) NOT NULL
);


ALTER TABLE public.apartment_equipments OWNER TO postgres;

--
-- Name: apartment_photos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.apartment_photos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    apartment_id uuid NOT NULL,
    photo_url character varying(500) NOT NULL,
    is_primary boolean DEFAULT false NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    public_id text NOT NULL
);


ALTER TABLE public.apartment_photos OWNER TO postgres;

--
-- Name: apartments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.apartments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    residence_id uuid NOT NULL,
    apartment_number character varying(20) NOT NULL,
    floor integer,
    surface numeric(8,2),
    rooms integer NOT NULL,
    bedrooms integer NOT NULL,
    bathrooms integer DEFAULT 1 NOT NULL,
    capacity integer NOT NULL,
    description text,
    status public.apartment_status DEFAULT 'available'::public.apartment_status NOT NULL,
    price_per_night numeric(10,2),
    view_type character varying(100),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT apartments_bedrooms_check CHECK ((bedrooms >= 0)),
    CONSTRAINT apartments_capacity_check CHECK ((capacity > 0)),
    CONSTRAINT apartments_rooms_check CHECK ((rooms >= 0))
);


ALTER TABLE public.apartments OWNER TO postgres;

--
-- Name: charges; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.charges (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    syndic_id uuid NOT NULL,
    owner_id uuid NOT NULL,
    apartment_id uuid NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    amount numeric(10,2) NOT NULL,
    due_date date NOT NULL,
    status public.payment_status DEFAULT 'pending'::public.payment_status NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT charges_amount_check CHECK ((amount > (0)::numeric))
);


ALTER TABLE public.charges OWNER TO postgres;

--
-- Name: incident_comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incident_comments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    incident_id uuid NOT NULL,
    author_id uuid NOT NULL,
    comment text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.incident_comments OWNER TO postgres;

--
-- Name: incident_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incident_history (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    incident_id uuid NOT NULL,
    changed_by uuid NOT NULL,
    old_status public.incident_status,
    new_status public.incident_status NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.incident_history OWNER TO postgres;

--
-- Name: incident_photos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incident_photos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    incident_id uuid NOT NULL,
    photo_url character varying(500) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    public_id text NOT NULL
);


ALTER TABLE public.incident_photos OWNER TO postgres;

--
-- Name: incidents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incidents (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    residence_id uuid NOT NULL,
    apartment_id uuid,
    declared_by uuid NOT NULL,
    assigned_to uuid,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    type character varying(100),
    status public.incident_status DEFAULT 'pending'::public.incident_status NOT NULL,
    priority public.incident_priority DEFAULT 'normal'::public.incident_priority NOT NULL,
    resolved_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.incidents OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    type public.notification_type DEFAULT 'general'::public.notification_type NOT NULL,
    reference_id uuid,
    reference_type character varying(50),
    is_read boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: owner_apartments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.owner_apartments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    owner_id uuid NOT NULL,
    apartment_id uuid NOT NULL,
    start_date date,
    end_date date,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.owner_apartments OWNER TO postgres;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    charge_id uuid NOT NULL,
    validated_by uuid NOT NULL,
    payment_date date NOT NULL,
    payment_method character varying(50) DEFAULT 'cash'::character varying NOT NULL,
    reference character varying(100),
    notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: reservations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reservations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    apartment_id uuid NOT NULL,
    syndic_id uuid NOT NULL,
    appointment_date date NOT NULL,
    time_slot public.time_slot NOT NULL,
    status public.reservation_status DEFAULT 'pending'::public.reservation_status NOT NULL,
    visitor_name character varying(255) NOT NULL,
    visitor_email character varying(255) NOT NULL,
    visitor_phone character varying(20),
    message text,
    check_in_date date,
    check_out_date date,
    guests_count integer,
    notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT reservations_guests_count_check CHECK ((guests_count > 0)),
    CONSTRAINT valid_stay_dates CHECK (((check_out_date IS NULL) OR (check_in_date IS NULL) OR (check_out_date > check_in_date)))
);


ALTER TABLE public.reservations OWNER TO postgres;

--
-- Name: TABLE reservations; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.reservations IS '? 3 crÔÇÜneaux fixes/jour. UNIQUE (syndic_id, date, time_slot) limite ÔÇª 3 RDV max.';


--
-- Name: COLUMN reservations.visitor_name; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.reservations.visitor_name IS '? Pas besoin de compte - le visiteur remplit juste ce formulaire.';


--
-- Name: residence_photos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.residence_photos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    residence_id uuid NOT NULL,
    photo_url character varying(500) NOT NULL,
    is_primary boolean DEFAULT false NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    public_id text NOT NULL
);


ALTER TABLE public.residence_photos OWNER TO postgres;

--
-- Name: residence_services; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.residence_services (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    residence_id uuid NOT NULL,
    service_name character varying(100) NOT NULL,
    icon_name character varying(50)
);


ALTER TABLE public.residence_services OWNER TO postgres;

--
-- Name: residences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.residences (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    syndic_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    address character varying(255) NOT NULL,
    city character varying(100) NOT NULL,
    postal_code character varying(20),
    latitude numeric(10,8),
    longitude numeric(11,8),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.residences OWNER TO postgres;

--
-- Name: revoked_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.revoked_tokens (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    token text NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.revoked_tokens OWNER TO postgres;

--
-- Name: search_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.search_history (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    session_id character varying(255),
    query text NOT NULL,
    filters_detected jsonb,
    results_count integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.search_history OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    phone character varying(20),
    role public.user_role NOT NULL,
    country character varying(100),
    is_active boolean DEFAULT true NOT NULL,
    avatar_url character varying(500),
    reset_token character varying(255),
    reset_token_expires timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: COLUMN users.country; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.users.country IS '? Pays du propriÔÇÜtaire (ex: France, Espagne). NULL pour admin/syndic/visitor.';


--
-- Name: v_available_apartments; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_available_apartments AS
 SELECT a.id,
    a.apartment_number,
    a.floor,
    a.surface,
    a.rooms,
    a.bedrooms,
    a.bathrooms,
    a.capacity,
    a.description,
    a.status,
    a.price_per_night,
    a.view_type,
    r.id AS residence_id,
    r.name AS residence_name,
    r.city,
    r.address,
    r.latitude,
    r.longitude,
    ( SELECT apartment_photos.photo_url
           FROM public.apartment_photos
          WHERE ((apartment_photos.apartment_id = a.id) AND (apartment_photos.is_primary = true))
         LIMIT 1) AS primary_photo,
    ( SELECT COALESCE(json_agg(apartment_equipments.equipment), '[]'::json) AS "coalesce"
           FROM public.apartment_equipments
          WHERE (apartment_equipments.apartment_id = a.id)) AS equipments,
    ( SELECT COALESCE(json_agg(residence_services.service_name), '[]'::json) AS "coalesce"
           FROM public.residence_services
          WHERE (residence_services.residence_id = r.id)) AS residence_services
   FROM (public.apartments a
     JOIN public.residences r ON ((r.id = a.residence_id)))
  WHERE ((a.status = 'available'::public.apartment_status) AND (r.is_active = true));


ALTER VIEW public.v_available_apartments OWNER TO postgres;

--
-- Name: v_available_days; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_available_days AS
 WITH calendar_days AS (
         SELECT (generate_series((CURRENT_DATE)::timestamp without time zone, (CURRENT_DATE + '90 days'::interval), '1 day'::interval))::date AS appointment_date
        ), syndics AS (
         SELECT DISTINCT reservations.syndic_id
           FROM public.reservations
        )
 SELECT s.syndic_id,
    c.appointment_date,
    count(r.id) FILTER (WHERE (r.status <> 'cancelled'::public.reservation_status)) AS booked_count,
    (3 - count(r.id) FILTER (WHERE (r.status <> 'cancelled'::public.reservation_status))) AS slots_remaining,
    COALESCE(array_agg((r.time_slot)::text) FILTER (WHERE (r.status <> 'cancelled'::public.reservation_status)), '{}'::text[]) AS booked_slots,
    ((3 - count(r.id) FILTER (WHERE (r.status <> 'cancelled'::public.reservation_status))) > 0) AS available
   FROM ((syndics s
     CROSS JOIN calendar_days c)
     LEFT JOIN public.reservations r ON (((r.syndic_id = s.syndic_id) AND (r.appointment_date = c.appointment_date))))
  GROUP BY s.syndic_id, c.appointment_date;


ALTER VIEW public.v_available_days OWNER TO postgres;

--
-- Name: v_dashboard_admin; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_dashboard_admin AS
 SELECT ( SELECT count(*) AS count
           FROM public.users
          WHERE (users.role = 'syndic'::public.user_role)) AS total_syndics,
    ( SELECT count(*) AS count
           FROM public.users
          WHERE (users.role = 'owner'::public.user_role)) AS total_owners,
    ( SELECT count(DISTINCT reservations.visitor_email) AS count
           FROM public.reservations) AS total_visitors,
    ( SELECT count(*) AS count
           FROM public.residences) AS total_residences,
    ( SELECT count(*) AS count
           FROM public.apartments) AS total_apartments,
    ( SELECT count(*) AS count
           FROM public.apartments
          WHERE (apartments.status = 'available'::public.apartment_status)) AS available_apartments,
    ( SELECT count(*) AS count
           FROM public.apartments
          WHERE (apartments.status = 'occupied'::public.apartment_status)) AS occupied_apartments,
    ( SELECT count(*) AS count
           FROM public.charges
          WHERE (charges.status = 'pending'::public.payment_status)) AS pending_charges,
    ( SELECT count(*) AS count
           FROM public.charges
          WHERE (charges.status = 'validated'::public.payment_status)) AS validated_charges,
    ( SELECT COALESCE(sum(charges.amount), (0)::numeric) AS "coalesce"
           FROM public.charges
          WHERE (charges.status = 'pending'::public.payment_status)) AS pending_amount,
    ( SELECT COALESCE(sum(charges.amount), (0)::numeric) AS "coalesce"
           FROM public.charges
          WHERE (charges.status = 'validated'::public.payment_status)) AS total_revenue,
    ( SELECT count(*) AS count
           FROM public.incidents
          WHERE (incidents.status = 'pending'::public.incident_status)) AS pending_incidents,
    ( SELECT count(*) AS count
           FROM public.incidents
          WHERE (incidents.status = 'in_progress'::public.incident_status)) AS in_progress_incidents,
    ( SELECT count(*) AS count
           FROM public.incidents
          WHERE (incidents.status <> 'resolved'::public.incident_status)) AS open_incidents,
    ( SELECT count(*) AS count
           FROM public.incidents
          WHERE (incidents.status = 'resolved'::public.incident_status)) AS resolved_incidents,
    ( SELECT count(*) AS count
           FROM public.reservations
          WHERE (reservations.status = 'pending'::public.reservation_status)) AS pending_reservations,
    ( SELECT count(*) AS count
           FROM public.reservations
          WHERE (reservations.status = 'confirmed'::public.reservation_status)) AS confirmed_reservations,
    ( SELECT count(*) AS count
           FROM public.reservations
          WHERE ((reservations.status = 'pending'::public.reservation_status) AND (reservations.appointment_date = CURRENT_DATE))) AS todays_rdv;


ALTER VIEW public.v_dashboard_admin OWNER TO postgres;

--
-- Name: v_dashboard_syndic; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_dashboard_syndic AS
 SELECT u.id AS syndic_id,
    (((u.first_name)::text || ' '::text) || (u.last_name)::text) AS syndic_name,
    count(DISTINCT re.id) AS total_residences,
    count(DISTINCT a.id) AS total_apartments,
    count(DISTINCT a.id) FILTER (WHERE (a.status = 'available'::public.apartment_status)) AS available_apartments,
    count(DISTINCT a.id) FILTER (WHERE (a.status = 'occupied'::public.apartment_status)) AS occupied_apartments,
    count(DISTINCT oa.owner_id) AS total_owners,
    count(DISTINCT c.id) FILTER (WHERE (c.status = 'pending'::public.payment_status)) AS pending_charges,
    count(DISTINCT c.id) FILTER (WHERE (c.status = 'validated'::public.payment_status)) AS paid_charges,
    COALESCE(sum(c.amount) FILTER (WHERE (c.status = 'pending'::public.payment_status)), (0)::numeric) AS pending_amount,
    COALESCE(sum(c.amount) FILTER (WHERE (c.status = 'validated'::public.payment_status)), (0)::numeric) AS total_revenue,
    count(DISTINCT i.id) FILTER (WHERE (i.status = 'pending'::public.incident_status)) AS pending_incidents,
    count(DISTINCT i.id) FILTER (WHERE (i.status = 'in_progress'::public.incident_status)) AS in_progress_incidents,
    count(DISTINCT i.id) FILTER (WHERE (i.status <> 'resolved'::public.incident_status)) AS open_incidents,
    count(DISTINCT i.id) FILTER (WHERE (i.status = 'resolved'::public.incident_status)) AS resolved_incidents,
    count(DISTINCT rv.id) FILTER (WHERE (rv.status = 'pending'::public.reservation_status)) AS pending_reservations,
    count(DISTINCT rv.id) FILTER (WHERE ((rv.status = 'pending'::public.reservation_status) AND (rv.appointment_date = CURRENT_DATE))) AS todays_rdv,
    count(DISTINCT rv.id) FILTER (WHERE (rv.status = 'confirmed'::public.reservation_status)) AS confirmed_reservations
   FROM ((((((public.users u
     LEFT JOIN public.residences re ON ((re.syndic_id = u.id)))
     LEFT JOIN public.apartments a ON ((a.residence_id = re.id)))
     LEFT JOIN public.owner_apartments oa ON (((oa.apartment_id = a.id) AND (oa.is_active = true))))
     LEFT JOIN public.charges c ON ((c.syndic_id = u.id)))
     LEFT JOIN public.incidents i ON ((i.residence_id = re.id)))
     LEFT JOIN public.reservations rv ON ((rv.syndic_id = u.id)))
  WHERE (u.role = 'syndic'::public.user_role)
  GROUP BY u.id, u.first_name, u.last_name;


ALTER VIEW public.v_dashboard_syndic OWNER TO postgres;

--
-- Name: v_slots_by_day; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_slots_by_day AS
 WITH all_slots AS (
         SELECT unnest(ARRAY['09:00'::public.time_slot, '14:00'::public.time_slot, '17:00'::public.time_slot]) AS time_slot
        ), all_days AS (
         SELECT (generate_series((CURRENT_DATE)::timestamp without time zone, (CURRENT_DATE + '90 days'::interval), '1 day'::interval))::date AS slot_date
        ), syndics AS (
         SELECT users.id AS syndic_id
           FROM public.users
          WHERE (users.role = 'syndic'::public.user_role)
        )
 SELECT s.syndic_id,
    d.slot_date,
    sl.time_slot,
    (NOT (EXISTS ( SELECT 1
           FROM public.reservations r
          WHERE ((r.syndic_id = s.syndic_id) AND (r.appointment_date = d.slot_date) AND (r.time_slot = sl.time_slot) AND (r.status <> 'cancelled'::public.reservation_status))))) AS is_available
   FROM ((syndics s
     CROSS JOIN all_days d)
     CROSS JOIN all_slots sl);


ALTER VIEW public.v_slots_by_day OWNER TO postgres;

--
-- Name: announcements announcements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_pkey PRIMARY KEY (id);


--
-- Name: apartment_equipments apartment_equipments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apartment_equipments
    ADD CONSTRAINT apartment_equipments_pkey PRIMARY KEY (id);


--
-- Name: apartment_photos apartment_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apartment_photos
    ADD CONSTRAINT apartment_photos_pkey PRIMARY KEY (id);


--
-- Name: apartments apartments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apartments
    ADD CONSTRAINT apartments_pkey PRIMARY KEY (id);


--
-- Name: apartments apartments_residence_id_apartment_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apartments
    ADD CONSTRAINT apartments_residence_id_apartment_number_key UNIQUE (residence_id, apartment_number);


--
-- Name: charges charges_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.charges
    ADD CONSTRAINT charges_pkey PRIMARY KEY (id);


--
-- Name: incident_comments incident_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident_comments
    ADD CONSTRAINT incident_comments_pkey PRIMARY KEY (id);


--
-- Name: incident_history incident_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident_history
    ADD CONSTRAINT incident_history_pkey PRIMARY KEY (id);


--
-- Name: incident_photos incident_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident_photos
    ADD CONSTRAINT incident_photos_pkey PRIMARY KEY (id);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: owner_apartments owner_apartments_owner_id_apartment_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.owner_apartments
    ADD CONSTRAINT owner_apartments_owner_id_apartment_id_key UNIQUE (owner_id, apartment_id);


--
-- Name: owner_apartments owner_apartments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.owner_apartments
    ADD CONSTRAINT owner_apartments_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: reservations reservations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_pkey PRIMARY KEY (id);


--
-- Name: residence_photos residence_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.residence_photos
    ADD CONSTRAINT residence_photos_pkey PRIMARY KEY (id);


--
-- Name: residence_services residence_services_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.residence_services
    ADD CONSTRAINT residence_services_pkey PRIMARY KEY (id);


--
-- Name: residences residences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.residences
    ADD CONSTRAINT residences_pkey PRIMARY KEY (id);


--
-- Name: revoked_tokens revoked_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.revoked_tokens
    ADD CONSTRAINT revoked_tokens_pkey PRIMARY KEY (id);


--
-- Name: search_history search_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.search_history
    ADD CONSTRAINT search_history_pkey PRIMARY KEY (id);


--
-- Name: reservations uq_syndic_date_slot; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT uq_syndic_date_slot UNIQUE (syndic_id, appointment_date, time_slot);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_apt_capacity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_apt_capacity ON public.apartments USING btree (capacity);


--
-- Name: idx_apt_residence; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_apt_residence ON public.apartments USING btree (residence_id);


--
-- Name: idx_apt_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_apt_status ON public.apartments USING btree (status);


--
-- Name: idx_apt_view; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_apt_view ON public.apartments USING btree (view_type);


--
-- Name: idx_chg_apartment; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_chg_apartment ON public.charges USING btree (apartment_id);


--
-- Name: idx_chg_due; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_chg_due ON public.charges USING btree (due_date);


--
-- Name: idx_chg_owner; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_chg_owner ON public.charges USING btree (owner_id);


--
-- Name: idx_chg_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_chg_status ON public.charges USING btree (status);


--
-- Name: idx_inc_residence; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inc_residence ON public.incidents USING btree (residence_id);


--
-- Name: idx_inc_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inc_status ON public.incidents USING btree (status);


--
-- Name: idx_notif_read; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notif_read ON public.notifications USING btree (is_read);


--
-- Name: idx_notif_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notif_user ON public.notifications USING btree (user_id);


--
-- Name: idx_oa_apartment; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_oa_apartment ON public.owner_apartments USING btree (apartment_id);


--
-- Name: idx_oa_owner; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_oa_owner ON public.owner_apartments USING btree (owner_id);


--
-- Name: idx_pay_charge; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pay_charge ON public.payments USING btree (charge_id);


--
-- Name: idx_rdv_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rdv_email ON public.reservations USING btree (visitor_email);


--
-- Name: idx_rdv_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rdv_status ON public.reservations USING btree (status);


--
-- Name: idx_rdv_syndic_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rdv_syndic_date ON public.reservations USING btree (syndic_id, appointment_date);


--
-- Name: idx_res_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_res_active ON public.residences USING btree (is_active);


--
-- Name: idx_res_city; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_res_city ON public.residences USING btree (city);


--
-- Name: idx_res_syndic; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_res_syndic ON public.residences USING btree (syndic_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: announcements trg_announcements_upd; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_announcements_upd BEFORE UPDATE ON public.announcements FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: apartments trg_apartments_upd; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_apartments_upd BEFORE UPDATE ON public.apartments FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: charges trg_charges_upd; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_charges_upd BEFORE UPDATE ON public.charges FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: incidents trg_incident_log; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_incident_log BEFORE UPDATE ON public.incidents FOR EACH ROW EXECUTE FUNCTION public.fn_log_incident_change();


--
-- Name: incidents trg_incidents_upd; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_incidents_upd BEFORE UPDATE ON public.incidents FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: reservations trg_rdv_limit; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_rdv_limit BEFORE INSERT OR UPDATE ON public.reservations FOR EACH ROW EXECUTE FUNCTION public.fn_check_rdv_limit();


--
-- Name: reservations trg_reservations_upd; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_reservations_upd BEFORE UPDATE ON public.reservations FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: residences trg_residences_upd; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_residences_upd BEFORE UPDATE ON public.residences FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: users trg_users_upd; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_users_upd BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: announcements announcements_residence_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_residence_id_fkey FOREIGN KEY (residence_id) REFERENCES public.residences(id) ON DELETE CASCADE;


--
-- Name: announcements announcements_syndic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_syndic_id_fkey FOREIGN KEY (syndic_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: apartment_equipments apartment_equipments_apartment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apartment_equipments
    ADD CONSTRAINT apartment_equipments_apartment_id_fkey FOREIGN KEY (apartment_id) REFERENCES public.apartments(id) ON DELETE CASCADE;


--
-- Name: apartment_photos apartment_photos_apartment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apartment_photos
    ADD CONSTRAINT apartment_photos_apartment_id_fkey FOREIGN KEY (apartment_id) REFERENCES public.apartments(id) ON DELETE CASCADE;


--
-- Name: apartments apartments_residence_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.apartments
    ADD CONSTRAINT apartments_residence_id_fkey FOREIGN KEY (residence_id) REFERENCES public.residences(id) ON DELETE CASCADE;


--
-- Name: charges charges_apartment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.charges
    ADD CONSTRAINT charges_apartment_id_fkey FOREIGN KEY (apartment_id) REFERENCES public.apartments(id) ON DELETE RESTRICT;


--
-- Name: charges charges_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.charges
    ADD CONSTRAINT charges_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: charges charges_syndic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.charges
    ADD CONSTRAINT charges_syndic_id_fkey FOREIGN KEY (syndic_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: incident_comments incident_comments_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident_comments
    ADD CONSTRAINT incident_comments_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.users(id);


--
-- Name: incident_comments incident_comments_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident_comments
    ADD CONSTRAINT incident_comments_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id) ON DELETE CASCADE;


--
-- Name: incident_history incident_history_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident_history
    ADD CONSTRAINT incident_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(id);


--
-- Name: incident_history incident_history_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident_history
    ADD CONSTRAINT incident_history_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id) ON DELETE CASCADE;


--
-- Name: incident_photos incident_photos_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident_photos
    ADD CONSTRAINT incident_photos_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id) ON DELETE CASCADE;


--
-- Name: incidents incidents_apartment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_apartment_id_fkey FOREIGN KEY (apartment_id) REFERENCES public.apartments(id) ON DELETE SET NULL;


--
-- Name: incidents incidents_assigned_to_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_assigned_to_fkey FOREIGN KEY (assigned_to) REFERENCES public.users(id);


--
-- Name: incidents incidents_declared_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_declared_by_fkey FOREIGN KEY (declared_by) REFERENCES public.users(id);


--
-- Name: incidents incidents_residence_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_residence_id_fkey FOREIGN KEY (residence_id) REFERENCES public.residences(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: owner_apartments owner_apartments_apartment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.owner_apartments
    ADD CONSTRAINT owner_apartments_apartment_id_fkey FOREIGN KEY (apartment_id) REFERENCES public.apartments(id) ON DELETE CASCADE;


--
-- Name: owner_apartments owner_apartments_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.owner_apartments
    ADD CONSTRAINT owner_apartments_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: payments payments_charge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_charge_id_fkey FOREIGN KEY (charge_id) REFERENCES public.charges(id) ON DELETE CASCADE;


--
-- Name: payments payments_validated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_validated_by_fkey FOREIGN KEY (validated_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: reservations reservations_apartment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_apartment_id_fkey FOREIGN KEY (apartment_id) REFERENCES public.apartments(id) ON DELETE RESTRICT;


--
-- Name: reservations reservations_syndic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_syndic_id_fkey FOREIGN KEY (syndic_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: residence_photos residence_photos_residence_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.residence_photos
    ADD CONSTRAINT residence_photos_residence_id_fkey FOREIGN KEY (residence_id) REFERENCES public.residences(id) ON DELETE CASCADE;


--
-- Name: residence_services residence_services_residence_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.residence_services
    ADD CONSTRAINT residence_services_residence_id_fkey FOREIGN KEY (residence_id) REFERENCES public.residences(id) ON DELETE CASCADE;


--
-- Name: residences residences_syndic_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.residences
    ADD CONSTRAINT residences_syndic_id_fkey FOREIGN KEY (syndic_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: search_history search_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.search_history
    ADD CONSTRAINT search_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict glf9u11728TG4Ajp2E3g5wwx2as8DAUTHaL1AqMCM3ZntnkI3FfNpSTqcGJzZio

